#welcomeHeadingSource{
    font-size: 1em;
    font-weight: 700;
    color: #FF9C2C;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: 0 0 10px #747679;
}

#welcomeHeadingSources{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: 0 0 10px #747679;
}

