<!-- WELCOME -->
<section data-jarallax data-speed=".8" class="pt-12 pb-10 pt-md-15 pb-md-14" style="background-image: url(assets/img/covers/cover-3.jpg)">
  <div class="videobg">
    
  </div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-8 col-lg-6">

      <!-- Heading -->
      <h1 class="display-3 fw-bold " >
        
        <span id="welcomeHeadingSource"  data-typed='{"strings": ["Innovations", "Digitalisations"]}'></span>
      </h1>


      <!-- Text -->
      <p class="display-4" id="welcomeHeadingSources">
    Chez HNM, nous pensons que réinventer le monde de la nuit représente 
    notre plus grande opportunité d'améliorer et de faciliter 
    le quotidient des noctambules
     </p>

      <!-- Form -->
      {# <form>
        <div class="input-group">
          <span class="input-group-text pe-0 border-end-0">
            <i class="fe fe-search" id="searchAddon"></i>
          </span>
          <input class="form-control ps-2 border-start-0" type="search" placeholder="Search for a job" aria-label="Search for a job" aria-describedby="searchAddon">
        </div>
      </form> #}

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
</section>